/* <<<<<<< HEAD */
*{
    margin:0;
    padding:0;
}

.navbar{
    height: 50px;
    border-bottom: 1px solid black;
}
/* ======= */
*{
    margin:0;
    padding:0;
}

.navbar{
    height: 50px;
    border-bottom: 1px solid black;
/* >>>>>>> a78c77168a910a3ecc6a4aac0738648374b755e4 */
}